<div class="">
  <div id="<%= dom_id vente %>">

    <p>
      <strong>Name:</strong>
      <%= vente.produit.name %>
    </p>

    <p>
      <strong>Number:</strong>
      <%= vente.quantity %>
    </p>
    <p>
      <strong>Prix:</strong>
      <%= vente.price %>
    </p>

    <p>
      <strong>total:</strong>
      <%= vente.price %>
    </p>
  </div>

</div>
