<div id="<%= dom_id produit %>">
  <p>
    <strong>Name:</strong>
    <%= produit.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= produit.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= produit.price %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= produit.image %>
  </p>

</div>
